<% include header.ejs %>
<% include nav.ejs %>



    <h1>Holiday Mode Page</h1>
    <hr />
    <h2>Holiday mode content will go here</h2>

    <h3>JESS WOZ HERE!! --- testing git push to heroku</h3>
	<hr>

<% include footer.ejs %>
