<% include header.ejs %>
<% include nav.ejs %>

<!--  FOLLOWING CODE DISPLAYS ERROR MESSAGE PASSED BY SERVER  -->
<p id='error'><%= error %></p>


<% if(isLoggedIn === false) { %>

<form method="post">
    <span>Username:</span>
    <input type="text" name="username" required="required" />
    <br/>

    <span>Password:</span>
    <input type="password" name="password" required="required" />
    <br/>

    <input type="submit" />

</form>

<% } %>



<div id="logoContainer">


	<div id="logoDiv">

        <img id="logo" src="../public/images/automationLogo.png">
    </div>

    <div id="summaryTable">


    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<!--<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>-->
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();
    socket.on('connection', function(prefStatusData){

        $('#summaryTable').empty();

        var content = '<table>';
        content += '<tr>';
        content += '<strong><th>Name</th>';
        content += '<th>Status</th></strong>';
        content += "</tr>";

        for(var i = 0; i < prefStatusData.length; i++) {

            if (prefStatusData[i].prefName.startsWith('l')) {
                content += '<tr><td>' + '<img src="/public/icons/lightIcon_32x32.png" style="float:left"> ' + prefStatusData[i].prefName + '</td><td>On</td></tr>';
            } else if (prefStatusData[i].prefName.startsWith('g')) {
                content += '<tr><td>' + '<img src="/public/icons/gardenIcon_32x32.png" style="float:left"> ' + prefStatusData[i].prefName + '</td><td>On</td></tr>';
            }

        }


        content += "</table>";

        $('#summaryTable').append(content);




    });

</script>

<% include footer.ejs %>
