@import url('//fonts.googleapis.com/css?family=Khula');

@charset "utf-8";

#menu {
	background-color:#089108;
	text-align: center;
	margin-left: 1.75%;
	margin-right: 1.75%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

#menu ul {
	padding: 0;
}

#menu a {
	display: block;
	padding: 18px;
	text-decoration:none;
	color:#000000;
	font-family:Khula;
	font-size:22px;
}

#menu a:hover {
	background-color:#20AD28;
}

#menu a:active {
	background-color:#20AD28;
}

#menu a.selected {
	background-color:#20AD28;
}

li {
	display:inline-block;
	list-style-type:none;
}

body {
	background-color: lightgreen;
	margin-left: auto;
    margin-right: auto;
	width:100%;
	height:100%;
}

footer {
	text-align:center;
	font-family:Khula;
}

h1 {
	text-align:center;
	font-family:Khula;
}

h2 {
	text-align:center;
	font-family:Khula;
}

form {
	text-align:center;
	font-family:Khula;
}


#logoContainer div {
    border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
    border: 5px solid #000000;
    width: 100%;
    min-height: 200%;
	background: green;
	margin: auto;
	margin-list:none
}

#logoContainer {
	padding-right: 2.5%;
	padding-top: 2%;
	padding-left: 2%;
	min-height: 200%;
}

#logo{
	min-height: 30%;
	min-width: 30%;
	margin-left: auto;
	padding-top: 7.5%;
	padding-bottom: 7.5%;

}

#error, #msg {
    font-style: italic;

}

#error {
    color: darkred;
	font-size: 20px;
	text-align: center;
	align-content: center;
}

#user {
    color: darkgreen;
    text-align: right;
    font-style: italic;
	right: 0;
	margin-right: 1.75%;
	font-size: 18px;


}

#msg {
    color: darkgreen;
}

#user a{
    text-decoration: none;
	background-color:#089108;
    color: Black;
	padding: 5px 15px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	font-style: normal;

}

#user a:hover{
	color: White;
}



#outerContainer {
    margin-left: 1.75%;
    margin-right: 1.75%;
    display: block;
}


#innerContainerLeft {
    width:25%;
    float: left;
}

#innerContainerLeft table, tr, td , button {
    width:100%;
    position: inherit;
}

.adminBttns {
    padding-top: 5%;
    padding-bottom: 5%;
    background: green;
    font-size: 26px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;

}

.adminBttns:focus {
    outline: none;
}

#innerContainerRight {
    float: left;
    width: 71.5%;
}

#innerContainerRight table {
	width: 50%;
	border-collapse: collapse;
	text-align: center;
}

/*#innerContainerRight tr td {*/
	/*border: 1px solid black;*/
/*}*/

.green {
	color: green;
}

.red {
	color: red;
}

.active {
	color: white;
}