<% include header.ejs %>
<% include nav.ejs %>


    <h1>Admin</h1>
    <hr />

    <div id="outerContainer">



        <div id="innerContainerLeft">
            <table>
                <tr>
                    <td>
                        <button class="adminBttns" onclick='createUserForm()'>Create</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form method="post">
                            <input type='hidden' name='formName' value='showEdit'/>
                            <input class="adminBttns" type="submit" name="submit" value="Edit"/>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <!--<button onclick='showStatus()'>Status</button>-->
                        <form method="post">
                            <input type='hidden' name='formName' value='showStatus'/>
                            <input class="adminBttns" type="submit" name="submit" value="Status"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div id="innerContainerRight">

            <%if (userStatusData[0]!== undefined) {%>
                <table>
                    <tr>
                        <td><h2>User</h2></td>
                        <td><h2>Status</h2></td>
                    </tr>
                <%userStatusData.forEach(function(usersData) { %>
                    <tr>
                        <td><%= usersData.username %></td>
                        <%if (usersData.status === 1) {%>
                            <td><status class="green">Online</status> </td>
                        <%}else {%>
                            <td><status class="red">Offline</status> </td>
                        <%}%>
                    </tr>
                <% }); %>
                </table>
            <%}%>

            <%if (userEditData[0] !== undefined) { %>

            <script>
                function showSelectedUser(test) {

                    var selectedUser = document.getElementById("userDropbox");

                    console.log(selectedUser.value);

                    document.getElementById("editUsersInfo").innerHTML =

                            "<h1>"+ selectedUser.value + test + "</h1>";

                    if (selectedUser.value) {

                    }


                }
            </script>


                <select id="userDropbox" onchange="showSelectedUser(<%= userEditData.username %>)">
                    <option value="">Select User</option>
                <%userEditData.forEach(function (usersData) { %>
                    <option value="<%=usersData.username %>"><%=usersData.username %></option>


                <%});%>
                </select>


            <%    %>
            <div id="editUsersInfo">

            </div>

            <%}%>


        </div>


    </div>





<% include footer.ejs %>
