<% include header.ejs %>
<% include nav.ejs %>


    <h1>Admin</h1>
    <hr />

    <div id="outerContainer">



        <div id="innerContainerLeft">
            <table>
                <tr>
                    <td>
                        <button onclick="createUserForm();">Create</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button>Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button>Status</button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="innerContainerRight">
            <!--<h4>INNER RIGHT</h4>-->
            <!--<hr />-->
            <!--<p>-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->
                <!--Blaa blaaa  blaaa blahsjhgjhgjhgjhal ljlkjaslas-->

            <!--</p>-->

        </div>


    </div>





<% include footer.ejs %>
