<% include header.ejs %>
<% include nav.ejs %>


    <h1>Admin</h1>
    <hr />

    <div id="outerContainer">



        <div id="innerContainerLeft">
            <table>
                <tr>
                    <td>
                        <button class="adminBttns" onclick='createUserForm()'>Create</button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="adminBttns">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="adminBttns">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!--<button onclick='showStatus()'>Status</button>-->
                        <form method="post">
                            <input type='hidden' name='formName' value='showStatus'/>
                            <input class="adminBttns" type="submit" name="submit" value="Status"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div id="innerContainerRight">
            <%= userStatusData %>


        </div>


    </div>





<% include footer.ejs %>
