<% include header.ejs %>
<% include nav.ejs %>
<p id='msg'><%= msg %></p>
<p id='user'><%= user %><a href='/logout'>LOG OUT</a></p>

    <h1>Doors and Gates Page</h1>
    <hr />
    <h2>Doors and Gates content will go here</h2>
	<hr>

<% include footer.ejs %>
