<!DOCTYPE html>

<html>


<head>

    <title> <%= title %></title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script>

        function createUserForm() {

            console.log("FUCK!!!");

            var createUser = document.getElementById("innerContainerRight");

            createUser.textContent = "FUCK YOU TOOO!!!";


        }

    </script>

</head>


<body>
