<!DOCTYPE html>

<html>


<head>

    <title> <%= title %></title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="../createUserForm.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
