<% include header.ejs %>
<% include nav.ejs %>
<p><%= msg %></p>

	<div id="globalContainer">
	<div id="rcorners2">
        <center><img id="logo" src="media/automationLogo.png"></center>
    </div>
</div>

<% include footer.ejs %>
