<% include header.ejs %>
<% include nav.ejs %>
<p id='msg'><%= msg %></p>
<p id='user'><%= user %><a href='/logout'>LOG OUT</a></p>

	<div id="globalContainer">
	<div id="rcorners2">
        <center><img id="logo" src="automationLogo.png"></center>
    </div>
</div>

<% include footer.ejs %>
