<% include header.ejs %>
<% include nav.ejs %>


<div id="logoContainer">
        
	<div>
        
        <center><img id="logo" src="automationLogo.png"></center>
        
    </div>
        
</div>

<% include footer.ejs %>
