<% include header.ejs %>
<% include nav.ejs %>
<p id='msg'><%= msg %></p>
<p id='user'><%= user %><a href='/logout'>LOG OUT</a></p>


    <h1>Lights Page</h1>
    <hr />
    <h2>Lights content will go here</h2>
	<hr>

<% include footer.ejs %>
