<% include header.ejs %>
<% include nav.ejs %>
<p id='msg'><%= msg %></p>
<p id='error'><%= error %><a href='/logout'>LOG OUT</a></p>

    <h1>Login Page</h1>

    <hr />
    <form method="post">

        <span>Username:</span>
        <input type="text" name="username" required="required" />
        <br/>

        <span>Password:</span>
        <input type="password" name="password" required="required" />
        <br/>

        <input type="submit" />

    </form>
	<hr>

<% include footer.ejs %>
