<nav>
    
    <div id="menu">
        
		<ul>
            
		  <li><a href="/">Home</a></li>
		  <li><a href="admin">Admin</a></li>
		  <li><a href="holidayMode">Holiday Mode</a></li>
		  <li><a href="doorGates">Doors and Gates</a></li>
		  <li><a href="light">Lights</a></li>
		  <li><a href="logs">Logs</a></li>
		  <li><a href="login">Login</a></li>
		  <li><a href="signup">Create User</a></li>
            
		</ul>
        
	</div>
    
</nav>

<p id='msg'><%= msg %></p>

<p id='user'><%= user %><a href='/logout'>LOG OUT</a></p>
