<nav>
    
    <div id="menu">
        
		<ul>

			<% navMenu.forEach(function(nav) { %>
			<li><a href="<%= nav.navButton %>"> <%= nav.buttonName %></a></li>
			<% }); %>

		</ul>
        
	</div>
    
</nav>

<p id='msg'><%= msg %></p>

<p id='user'><%= user %><a href='/logout'>LOG OUT</a></p>
